{% extends "aqm_web/base-with-menu.html" %}
{% load url from future %}
{% load fb_versions %}

{% block metadata %}
    <title>Profile | Air Quality Models Web Interface</title>
{% endblock %}

{% block all-elements %}

<div class="row">
  <div class="span12">
    <h1>User Profile</h1>
    <div class="user-profile">
      <div class="profile-area">
        <ul>
          <li>
            <span class="field-label">Name</span> {% firstof target_user.get_full_name target_user.username %}
          </li>
          <li>
            <span class="field-label">Email</span> {% firstof target_user.email '-' %}
          </li>
        </ul>
        {% if target_user == user %}
        <div>
          <a href="{% url 'edit-profile' %}">Change...</a>
        </div>
        {% endif %}
      </div>
      <div class="meta">
        <div class="avatar">
          {% if target_profile.avatar %}
          {% version_object target_profile.avatar 't128x128' as im %}
          {% else %}
          {% version_object 'image/profile/anon.png' 't128x128' as im %}
          {% endif %} <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
          {% if target_user == user %}
          <div>
            <a href="{% url 'edit-avatar' %}">Change...</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
