{% load url from future %}
{% load fb_versions %}
<div class="row">
  <div class="span16">
    <h1>Edit Avatar</h1>
    <form action="" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <fieldset>
        <div class="clearfix {% if form.avatar.errors %} error {% endif %}">
          <label for="id_first_name">Select Photo:</label>
          <div class="input">
            {{ form.avatar }} <span class="help-block">{{ form.avatar.errors }}</span>
          </div>
        </div>
      </fieldset>
      <div class="actions">
        <input type="submit" value="Update Avatar" class="btn primary" />
      </div>
    </form>
  </div>
</div>
