{% load url from future %}
<!DOCTYPE html>
<html>
    <head> 
        <link href="{{ STATIC_URL }}aqm_web/css/main.css" rel="stylesheet">
        <script src="{{ STATIC_URL }}aqm_web/js/jquery.js"></script>

        <script src="{{ STATIC_URL }}aqm_web/js/bootstrap-dropdown.js"></script>
        <script src="{{ STATIC_URL }}aqm_web/js/bootstrap-alert.js"></script>
        <script src="{{ STATIC_URL }}aqm_web/js/bootstrap-tooltip.js"></script>

        <script src="{{ STATIC_URL }}aqm_web/js/main.js"></script>

        <meta charset="utf-8">

        <link rel="shortcut icon" href="images/favicon.ico">
        {% block metadata %}
        {% endblock %}
    </head>

    <body>
        {% url 'aqm_web.views.generic.index' as url_index %}
        {% url 'aqm_web.views.generic.status' as url_status %}
        <div class="navbar navbar-fixed-top mainmenu">
            <div class="navbar-inner">
                <div class="container">
                  <a class="brand" href="{{ url_index }}">AQM Web Interface</a>
                  <ul class="nav">

                  </ul>

                </div>
            </div>
        </div>

        <div class="container">
        {% block all-elements %}
        {% endblock %}

            <footer>
                <p>Air Quality Models Web Interface</p>
            </footer>
        </div>

    </body>
</html>