{% load url from future %}
{% load add_class %}

<div class="row">
<div class="span12">
	<div class="page-header">
		<h1>New WRF/Chem Task</h1>
	</div>

	<form action="{% url "wrf-new-task" %}" method="post" id="wrf-new-task-form" class="form-horizontal">
        {% csrf_token %}
        
        {% if form.errors %}
        <div class="alert alert-error">
            <p>There are some errors in your submitted data. Please try again.</p>
        </div>
        {% endif %}
        
        {% if form.non_field_errors %}
        <div class="alert alert-error">
            <p>{{ form.non_field_errors }}</p>
        </div>
        {% endif %}
        
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="id_task_name">{{ form.task_name.label }}</label>
				<div class="controls">
                    {{ form.task_name|add_class:"span9"}}
                </div>
			</div>
            
			<div class="control-group">
				<label class="control-label" for="id_task_description">{{ form.task_description.label }}</label>
				<div class="controls">
                    {{ form.task_description|add_class:"span9"}}
                </div>
			</div>
            
			<div class="control-group">
				<label class="control-label" for="ntf-start-date">Period</label>
				<div class="controls">
					<div class="form-inline">
						<div class="input-prepend"><span class="add-on">start date</span><input type="text" id="ntf-start-date" placeholder="enter date" class="input-small"></div>
						<div class="input-prepend"><span class="add-on">start time</span><input type="text" id="ntf-start-time" placeholder="enter time" class="input-small"></div>
						to
						<div class="input-prepend"><span class="add-on">end date</span><input type="text" id="ntf-end-date" placeholder="enter date" class="input-small"></div>
						<div class="input-prepend"><span class="add-on">end time</span><input type="text" id="ntf-end-time" placeholder="enter time" class="input-small"></div>
					</div>
				</div>
			</div>
		</fieldset>
		
		<fieldset>
			<legend>Coordinate Settings</legend>
			<div class="control-group" id="ntf-ref-container">
				<label class="control-label" for="ntf-ref-lat">Reference Coordinate</label>
				<div class="controls">
					<div class="form-inline">
						<div id="ntf-ref-lat-cont" class="input-prepend"><span class="add-on">latitude</span><input type="text" id="ntf-ref-lat" name="ref-lat" placeholder="" class="input-medium"></div>
						<div id="ntf-ref-lon-cont" class="input-prepend"><span class="add-on">longitude</span><input type="text" id="ntf-ref-lon" name="ref-lon" 	placeholder="" class="input-medium"></div>
					</div>
				</div>
			</div>
            
			<div class="control-group">
				<label class="control-label" for="ntf-proj">Map Projection</label>
				<div class="controls">
					<select id="ntf-proj" name="projection-type">
						<option value="mercator">Mercator</option>
						<option value="lambert">Lambert Conformal</option>
						<option value="polar">Polar Stereographic</option>
						<option value="lat-lon">Regular Latitude-Longitude / Cylindrical Equidistant</option>
					</select>
				</div>
			</div>
            
			<div class="control-group" id="ntf-true-lat-container">
				<div class="controls">
					<div class="form-inline">
						<div id="ntf-true-lat1-cont" class="input-prepend"><span class="add-on">true scale latitude 1</span><input type="text" id="ntf-true-lat1" name="true-lat1" placeholder=""></div>
						<div id="ntf-true-lat2-cont" class="input-prepend"><span class="add-on">true scale latitude 2</span><input type="text" id="ntf-true-lat2" name="true-lat2" placeholder=""></div>
						<div id="ntf-stand-lon-cont" class="input-prepend"><span class="add-on">stand lon</span><input type="text" id="ntf-stand-lon" name="stand-lon" placeholder=""></div>
						<div id="ntf-pole-lat-cont" class="input-prepend"><span class="add-on">pole lat</span><input type="text" id="ntf-pole-lat" name="pole-lat" placeholder=""></div>
						<div id="ntf-pole-lon-cont" class="input-prepend"><span class="add-on">pole lon</span><input type="text" id="ntf-pole-lon" name="pole-lon" placeholder=""></div>
					</div>
				</div>
			</div>
            
			<div class="control-group" id="ntf-true-lat-container">
				<div class="controls">
					<input type="button" id="btn-map-preview" value="Preview" class="btn btn-info">
				</div>
			</div>
		</fieldset>
		
		<fieldset>
			<legend>Domain Settings</legend>
			<div class="control-group">
				<div class="controls">
					<table id="domain-list" class="table table-striped table-bordered table-condensed">
						<tbody>
							<tr>
								<th></th>
								<th>Domain</th>
								<th>Parent</th>
								<th>width</th>
								<th>height</th>
								<th>dx</th>
								<th>dy</th>
							</tr>
						</tbody>
					</table>
				
					<input type="button" id="btn-add-domain" class="btn btn-info" value="Add Domain" >
					<input type="button" id="btn-remove-domain" class="btn btn-danger" value="Remove Selected Domain" >
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="ntf-time-step">Time Step</label>
				<div class="controls">
                    <input type="text" id="ntf-time-step" name="title" placeholder="enter model time step">
                </div>
			</div>
		</fieldset>
		
		<fieldset>
            <legend>Direct Namelist Settings</legend>
            
			<div class="control-group">
				<label class="control-label" for="id_task_namelist_wps">{{ form.task_namelist_wps.label }}</label>
				<div class="controls">
                    {{ form.task_namelist_wps|add_class:"span9"}}
                </div>
			</div>
            
			<div class="control-group">
				<label class="control-label" for="id_task_namelist_wrf">{{ form.task_namelist_wrf.label }}</label>
				<div class="controls">
                    {{ form.task_namelist_wrf|add_class:"span9"}}
                </div>
			</div>
            
			<div class="control-group">
				<label class="control-label" for="id_task_namelist_arwpost">{{ form.task_namelist_arwpost.label }}</label>
				<div class="controls">
                    {{ form.task_namelist_arwpost|add_class:"span9"}}
                </div>
			</div>
        </fieldset>
            
		<fieldset>
			<legend>Chemistry Options</legend>
			
			<div class="control-group">
				<div class="controls">
					<label>
                    	<input type="checkbox" name="optionsCheckboxes" value="option1" checked="checked">
						<span>Enable WRF/Chem</span>
					</label>
				</div>
			</div>
			
			<div class="control-group">
				<label for="ntf-chem-select-data">Data Source</label>
				<div class="controls">
					<div class="form-inline">
						<input type="hidden" id="ntf-chem-selected-data" value="">
						<input type="button" class="btn" id="ntf-chem-select-data" value="Select Data">
						<span id="ntf-chem-data"></span>
					</div>
				</div>
			</div>
		</fieldset>
		
		<div class="form-actions">
    		<input type="submit" class="btn btn-primary btn-large" value="Save">
		</div>
	</form>
</div>
</div>


<div id="domain-modal" class="modal hide fade in domain-modal">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>Title</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="wrf-new-task-form">
            <fieldset>
                <div class="control-group" id="ntf-dom-name-container">
                    <label class="control-label" for="ntf-dom-name">Domain Name</label>
                    <div class="controls">
                        <div class="form-inline">
                            <input type="text" id="ntf-dom-name" name="dom-name" placeholder="Enter domain name" class="span5" >
                            <input type="hidden" id="ntf-dom-id" name="dom-id" >
                            Parent: 
                            <select id="ntf-parent-domain" name="parent-domain">
                                <option value="none">-- None --</option>
                                <option value="1">Domain 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="control-group" id="ntf-dom-width-container">
                    <label class="control-label" for="ntf-dom-width">Dimension</label>
                    <div class="controls">
                        <div class="form-inline">
                            <div id="ntf-dom-width-cont" class="input-prepend"><span class="add-on">width</span><input type="text" id="ntf-dom-width" name="dom-width" class="span3" placeholder="enter value in grids"></div>
                            <div id="ntf-dom-height-cont" class="input-prepend"><span class="add-on">height</span><input type="text" id="ntf-dom-height" name="dom-height" class="span3" placeholder="enter value in grids"></div>
                            <div id="ntf-dom-dx-cont" class="input-prepend"><span class="add-on">dx</span><input type="text" id="ntf-dom-dx" name="dom-dx" class="span2" placeholder="enter value in meter"></div>
                            <div id="ntf-dom-dy-cont" class="input-prepend"><span class="add-on">dy</span><input type="text" id="ntf-dom-dy" name="dom-dy" class="span2" placeholder="enter value in meter"></div>
                            <div id="ntf-ratio-cont" class="input-prepend"><span class="add-on">parent grid ratio</span><input type="text" id="ntf-ratio" name="dom-ratio" class="span3" placeholder=""></div>
                        </div>
                    </div>
                </div>
                
                <div class="control-group" id="ntf-dom-parent-start-container">
                    <label class="control-label" for="ntf-dom-parent-start-i">Position</label>
                    <div class="controls">
                        <div class="form-inline">
                            <div id="ntf-dom-parent-start-i-cont" class="input-prepend"><span class="add-on">i parent start</span><input type="text" id="ntf-dom-parent-start-i" name="dom-i-parent-start" class="span2" placeholder=""></div>
                            <div id="ntf-dom-parent-start-j-cont" class="input-prepend"><span class="add-on">j parent start</span><input type="text" id="ntf-dom-parent-start-j" name="dom-j-parent-start" class="span2" placeholder=""></div>
                            
                        </div>
                    </div>
                </div>
            </fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<input type="button" id="btn-domain-modal-ok" class="btn btn-primary" value="OK">
		<input type="button" id="btn-domain-modal-cancel" class="btn" value="Cancel">
	</div>
</div>

<div id="area-modal" class="modal hide fade in">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>Map Projection Preview</h3>
	</div>
	<div class="modal-body">
		<div style="position: relative; width: 530px; height: 397px;">
			<div id="map-loading-spinner" data-spinner="noauto" style="position: absolute; top: 180px; left: 210px; z-index: 3;"></div>
			<img class="preview-image" src="" width="530" height="397" style="position: absolute; top: 0; left: 0; z-index: 4;">
		</div>
	</div>
	<div class="modal-footer">
		<input type="button" id="btn-area-modal-close" class="btn" value="Close">
	</div>
</div>

<script>
	$(function(){
		
		/* initialize form */
		var proj_selective_display = function(projection){
			if (projection === 'mercator'){
				$('#ntf-true-lat1-cont').show();
				$('#ntf-true-lat2-cont').hide();
				$('#ntf-stand-lon-cont').hide();
				$('#ntf-pole-lat-cont').hide();
				$('#ntf-pole-lon-cont').hide();
			}
			else if(projection === 'lambert'){
				$('#ntf-true-lat1-cont').show();
				$('#ntf-true-lat2-cont').show();
				$('#ntf-stand-lon-cont').show();
				$('#ntf-pole-lat-cont').hide();
				$('#ntf-pole-lon-cont').hide();
			}
			else if(projection === 'polar'){
				$('#ntf-true-lat1-cont').show();
				$('#ntf-true-lat2-cont').hide();
				$('#ntf-stand-lon-cont').show();
				$('#ntf-pole-lat-cont').hide();
				$('#ntf-pole-lon-cont').hide();
			}
			else if(projection === 'lat-lon'){
				$('#ntf-true-lat1-cont').hide();
				$('#ntf-true-lat2-cont').hide();
				$('#ntf-stand-lon-cont').show();
				$('#ntf-pole-lat-cont').show();
				$('#ntf-pole-lon-cont').show();
			}
		};

		/* map projection setting */
		var proj = $('#ntf-proj').val();
		proj_selective_display(proj);
		$('#ntf-proj').change(function(){
			var proj = $('#ntf-proj').val();
			proj_selective_display(proj);
		});
		
		
		$('#area-modal').modal({backdrop: true, keyboard: true, show: false});
		
		var get_float_or_error = function(input_name, input_container){
			var val = parseFloat($(input_name).val());
			if (isNaN(val)) {
				$(input_container).addClass('error');
			}
			else {
				$(input_container).removeClass('error');
			}
			return val;
		};
		
		var get_int_or_error = function(input_name, input_container){
			var val = parseInt($(input_name).val());
			if (isNaN(val)) {
				$(input_container).addClass('error');
			}
			else {
				$(input_container).removeClass('error');
			}
			return val;
		};
		
		var get_string_or_error = function(input_name, input_container){
			var val = $(input_name).val().trim();
			if (val.length === 0) {
				$(input_container).addClass('error');
			}
			else {
				$(input_container).removeClass('error');
			}
			return val;
		};
		
		$('#btn-area-modal-close').click(function(e){
			e.preventDefault();
			$('#area-modal').modal('hide');
		});
		
		$('#btn-map-preview').click(function(e){
			e.preventDefault();
			var projection = $('#ntf-proj').val()
			
			if (projection === 'mercator') {
				var latitude = get_float_or_error('#ntf-ref-lat', '#ntf-ref-container');
				var longitude = get_float_or_error('#ntf-ref-lon', '#ntf-ref-container');
				var true_lat = get_float_or_error('#ntf-true-lat1', '#ntf-true-lat-container');
				
				if (isNaN(latitude) || isNaN(longitude) || isNaN(true_lat)){
					return
				}


				var upper_lat = latitude + 20;
				var upper_lon = longitude + 27;
				var lower_lat = latitude - 20;
				var lower_lon = longitude - 27;
				if(upper_lat > 80){
					upper_lat = 80;
					lower_lat = 80-40;
				}
				if(lower_lat < -80){
					lower_lat = -80;
					upper_lat = -80+40;
				}
				
				
				var w = 800;
				var h = 600;
				var left = (screen.width/2)-(w/2);
				var top = (screen.height/2)-(h/2);
				if (left < 0) left = 0;
				if (top < 0) top = 0;
				// testwindow = window.open("{% url 'aqm_web.views.plot.mercator' %}?upper_lat="+upper_lat+"&upper_lon="+upper_lon+"&lower_lat="+lower_lat+"&lower_lon="+lower_lon+"&true_lat="+true_lat+"&ref_lat="+latitude+"&ref_lon="+longitude, 
				//		"mywindow", "location=1,status=1,scrollbars=1,width="+w+",height="+h+",top="+top+",left="+left);
				$('#area-modal .preview-image').hide().load(function(){
					$(this).fadeIn();
					spinner_func.spinner_stop('#map-loading-spinner');
				}).attr('src', "{% url 'map-preview-mercator' %}?upper_lat="+upper_lat+"&upper_lon="+upper_lon+"&lower_lat="+lower_lat+"&lower_lon="+lower_lon+"&true_lat="+true_lat+"&ref_lat="+latitude+"&ref_lon="+longitude)
				
				$('#area-modal').modal('show');
			}
			spinner_func.spinner_stop('#map-loading-spinner');
			spinner_func.spinner_play('#map-loading-spinner');
		});
		
		/* wrf/chem data source */
		$('#ntf-chem-select-data').click(function(e){
			e.preventDefault();
			var w = 400;
			var h = 250;
			var left = (screen.width/2)-(w/2);
			var top = (screen.height/2)-(h/2);
			testwindow = window.open("{% url 'wrf-popup-new-task-chem-data' %}", "mywindow", "location=1,status=1,scrollbars=1,width="+w+",height="+h+",top="+top+",left="+left);
		});

		$('#ntf-start-date').datepicker({ dateFormat: 'dd-mm-yy' });
		$('#ntf-start-time').timepicker({ 
			defaultTime: '00:00',
			onHourShow: function(hour){
				if ((hour === 0) || (hour === 6) || (hour === 12) || (hour === 18)) return true;
				else return false;
			},
	        onMinuteShow: function(hour, minute){
				if (minute === 0) return true;
				else return false;
			}
			});
		$('#ntf-end-date').datepicker({ dateFormat: 'dd-mm-yy' });
		$('#ntf-end-time').timepicker({ 
			defaultTime: '12:00',
			onHourShow: function(hour){
				if ((hour === 0) || (hour === 6) || (hour === 12) || (hour === 18)) return true;
				else return false;
			},
	        onMinuteShow: function(hour, minute){
				if (minute === 0) return true;
				else return false;
			}
			});
		
		/* domain editor */
		/* initialize domain list */
		aqm.domain_list = [];
		
		var get_highest_domain_id = function(){
			var max = 0;
			var i = 0;
			for (i=0; i<aqm.domain_list.length; i++){
				var domain = aqm.domain_list[i];
				if(domain.id > max){
					max = domain.id;
				}
			}
			return max;
		};
		
		var get_domain = function(id){
			var i = 0;
			for (i=0; i<aqm.domain_list.length; i++){
				var domain = aqm.domain_list[i];
				if(domain.id === id){
					return domain;
				}
			}
		}
		
		var get_domain_by_parent = function(parent_id){
			var i = 0;
			for (i=0; i<aqm.domain_list.length; i++){
				var domain = aqm.domain_list[i];
				if(domain.parent === parent_id){
					return domain;
				}
			}
		}
		
		var get_domain_name = function(id){
			var domain = get_domain(id);
			if(domain !== undefined){
				return domain.name;
			}
			else{
				return '';
			}
		}
		
		var remove_domain = function(id){
			var i = 0;
			
			for (i=0; i<aqm.domain_list.length; i++){
				var domain = aqm.domain_list[i];
				if(domain.id === id){
					delete(aqm.domain_list[i]);
				}
			}
			
			var new_domain_list = [];
			var i = 0;
			for (i=0; i<aqm.domain_list.length; i++){
				var domain = aqm.domain_list[i];
				if(domain !== undefined){
					new_domain_list.push(domain);
				}
			}
			aqm.domain_list = new_domain_list;
			
			var next = get_domain_by_parent(id);
			if(next !== undefined){
				remove_domain(next.id);
			}
		};
		
		var domain_replace_or_add = function(domain){
			var i = 0;
			for (i=0; i<aqm.domain_list.length; i++){
				var dm = aqm.domain_list[i];
				if(dm.id === domain.id){
					aqm.domain_list[i] = domain;
					return;
				}
			}
			aqm.domain_list.push(domain);
		}
		
		var test_domain = {
				'name': 'test domain',
				'id': 1, //start from 1, 0 is invalid
				'parent': 0, // 0: no parent
				'parent_name': '', // 0: no parent
				'width': 90, // 90 grid wide
				'height': 90, // 90 grid left
				'dx': 9000, // grid width in meter
				'dy': 9000, // grod height in meter
				'ratio': 0, // ratio of dx & dy to parent's dx & dy
				'parent-start-i': 0, //domain bottom left position relative to parent
				'parent-start-j': 0
				}
		aqm.domain_list.push(test_domain);

		var test_domain = {
				'name': 'child domain 1',
				'id': 2, //start from 1, 0 is invalid
				'parent': 1, // 0: no parent
				'parent_name': 'test domain', // 0: no parent
				'width': 90, // 90 grid wide
				'height': 90, // 90 grid left
				'dx': 3000, // grid width in meter
				'dy': 3000, // grod height in meter
				'ratio': 3, // ratio of dx & dy to parent's dx & dy
				'parent-start-i': 30, //domain bottom left position relative to parent
				'parent-start-j': 30
				}
		aqm.domain_list.push(test_domain);
		
		var test_domain = {
				'name': 'child domain 2',
				'id': 3, //start from 1, 0 is invalid
				'parent': 2, // 0: no parent
				'parent_name': 'child domain 1', // 0: no parent
				'width': 90, // 90 grid wide
				'height': 90, // 90 grid left
				'dx': 1000, // grid width in meter
				'dy': 1000, // grod height in meter
				'ratio': 3, // ratio of dx & dy to parent's dx & dy
				'parent-start-i': 30, //domain bottom left position relative to parent
				'parent-start-j': 30
				}
		aqm.domain_list.push(test_domain);
		
		var reset_domain_table = function(){
			$('#domain-list tr[data-domain-listing]').remove();
			var i = 0;
			for(i = 0; i < aqm.domain_list.length; i++){
				var domain = aqm.domain_list[i];
				$('#domain-list > tbody:last').append('<tr data-domain-listing="listing"><td><input type="checkbox" data-domain-id="'+domain.id+'"></td><td><a href="#" class="domain_link_edit" data-domain-id="'+domain.id+'">'+domain.name+'</a></td><td>'+domain.parent_name+'</td><td>'+domain.width+'</td><td>'+domain.height+'</td><td>'+domain.dx+'</td><td>'+domain.dy+'</td></tr>');
			}
			
			$('a.domain_link_edit').click(function(e){
				e.preventDefault();
				var id = parseInt( $(e.target).attr('data-domain-id'));
				var domain = get_domain(id);
				domain_modal_reset({'title': 'Edit Domain', 'domain': domain});
				$('#domain-modal').modal('show');
			});
			
		};
		
		reset_domain_table();
		
		var domain_modal_selective_display = function(parent_dom){
			var id = parseInt(parent_dom);
			if(id===0){
				$('#ntf-dom-parent-start-container').hide();
				$('#ntf-ratio-cont').hide();
				$('#ntf-dom-dx-cont').show();
				$('#ntf-dom-dy-cont').show();
			}
			else {
				$('#ntf-dom-parent-start-container').show();
				$('#ntf-ratio-cont').show();
				$('#ntf-dom-dx-cont').hide();
				$('#ntf-dom-dy-cont').hide();
			}
		};
		
		/* reset the domain form (optionally with domain data) */
		var domain_modal_reset = function(options){
			var defaults = {
					'title': 'Add New Domain',
					'domain': {
						'name': '',
						'id': -1, 
						//-1: indicate that id should be assigned automatically when saving this domain. 
						//id start from 1, 0 is invalid
						//'parent-list': [],
						'parent': 0,
						'parent_name': '',
						'width': '',
						'height': '',
						'dx': '',
						'dy': '',
						'ratio': '',
						'parent-start-i': '',
						'parent-start-j': ''
					}
			};
			
			//var potential_parent = $.extend(true, [], aqm.domain_list);
			/*
			var i = 0;
			for(i=0; i < aqm.domain_list.length; i++){
				var domain = aqm.domain_list;
				if(defaults.id !== domain.id){
					defaults.parent-list.push(domain);
				}
			}
			*/
			var values = $.extend({}, defaults, options);

			$('#domain-modal .clearfix').removeClass('error');
			$('#domain-modal .input-prepend').removeClass('error');
			$('#domain-modal .modal-header h3').text(values['title'])
			$('#ntf-dom-name').val(values['domain']['name']);
			$('#ntf-dom-id').val(values['domain']['id']);
			$('#ntf-dom-width').val(values['domain']['width']);
			$('#ntf-dom-height').val(values['domain']['height']);
			$('#ntf-dom-dx').val(values['domain']['dx']);
			$('#ntf-dom-dy').val(values['domain']['dy']);
			$('#ntf-ratio').val(values['domain']['ratio']);
			$('#ntf-dom-parent-start-i').val(values['domain']['parent-start-i']);
			$('#ntf-dom-parent-start-j').val(values['domain']['parent-start-j']);

			//populate the select box for parent domains
			//no parent option
			
			$('#ntf-parent-domain').html('');
			if(values['domain']['parent'] === 0){
				$('#ntf-parent-domain').append('<option selected value="0">none</option>');
			}
			else {
				$('#ntf-parent-domain').append('<option value="0">none</option>');
			}
			
			var item_num = aqm.domain_list.length;
			var i = 0;
			for (i=0; i<item_num; i++){
				var dom_name = aqm.domain_list[i].name;
				var id = aqm.domain_list[i].id;
				
				// don't list ourself as potential parent domain
				if (id == values['domain']['id']){
					continue;
				}
				
				var html_option = '<option value="'+id+'">'+dom_name+'</option>';
				if(values['domain']['parent'] === id){
					html_option = '<option selected value="'+id+'">'+dom_name+'</option>';
				}

				$('#ntf-parent-domain').append(html_option);
			}
			
			domain_modal_selective_display($('#ntf-parent-domain').val());
		};
		
		var validate_domain_settings = function() {
			var isvalid = true;
			
			var name = get_string_or_error('#ntf-dom-name', '#ntf-dom-name-container');
			var parent_id = parseInt($('#ntf-parent-domain').val());

			var width = parseInt($('#ntf-dom-width').val());
			var height = parseInt($('#ntf-dom-height').val());
			var dx = parseFloat($('#ntf-dom-dx').val());
			var dy = parseFloat($('	#ntf-dom-dy').val());
			var ratio = parseInt($('#ntf-ratio').val());
			var paren_start_i = parseInt($('#ntf-dom-parent-start-i').val());
			var paren_start_j = parseInt($('#ntf-dom-parent-start-j').val());
			
			if(parent_id === 0){
				if(isNaN(width)){
					isvalid = false;
					$('#ntf-dom-width-cont').addClass('error');
				}
				else{
					$('#ntf-dom-width-cont').removeClass('error');
				}

				if(isNaN(height)){
					isvalid = false;
					$('#ntf-dom-height-cont').addClass('error');
				}
				else{
					$('#ntf-dom-height-cont').removeClass('error');
				}

				if(isNaN(dx)){
					isvalid = false;
					$('#ntf-dom-dx-cont').addClass('error');
				}
				else{
					$('#ntf-dom-dx-cont').removeClass('error');
				}

				if(isNaN(dy)){
					isvalid = false;
					$('#ntf-dom-dy-cont').addClass('error');
				}
				else{
					$('#ntf-dom-dy-cont').removeClass('error');
				}
				
			}
			else {
				if(isNaN(width)){
					isvalid = false;
					$('#ntf-dom-width-cont').addClass('error');
				}
				else{
					$('#ntf-dom-width-cont').removeClass('error');
				}

				if(isNaN(height)){
					isvalid = false;
					$('#ntf-dom-height-cont').addClass('error');
				}
				else{
					$('#ntf-dom-height-cont').removeClass('error');
				}
				
				if(isNaN(ratio)){
					isvalid = false;
					$('#ntf-ratio-cont').addClass('error');
				}
				else{
					$('#ntf-ratio-cont').removeClass('error');
				}
				
				if(isNaN(paren_start_i)){
					isvalid = false;
					$('#ntf-dom-parent-start-i-cont').addClass('error');
				}
				else{
					$('#ntf-dom-parent-start-i-cont').removeClass('error');
				}
				
				if(isNaN(paren_start_j)){
					isvalid = false;
					$('#ntf-dom-parent-start-j-cont').addClass('error');
				}
				else{
					$('#ntf-dom-parent-start-j-cont').removeClass('error');
				}
			}
			
			return isvalid;
		};
		
		var get_domain_settings = function() {
			
			var name = get_string_or_error('#ntf-dom-name', '#ntf-dom-name-container');
			var id = parseInt($('#ntf-dom-id').val());
			var parent_id = parseInt($('#ntf-parent-domain').val());
			var parent_name = '';
			var width = parseInt($('#ntf-dom-width').val());
			var height = parseInt($('#ntf-dom-height').val());
			var dx = parseFloat($('#ntf-dom-dx').val());
			var dy = parseFloat($('	#ntf-dom-dy').val());
			var ratio = parseInt($('#ntf-ratio').val());
			var paren_start_i = parseInt($('#ntf-dom-parent-start-i').val());
			var paren_start_j = parseInt($('#ntf-dom-parent-start-j').val());
			
			if(id === -1){
				id = get_highest_domain_id() + 1;
			}
			
			if(parent_id === 0){
				ratio = 0;
				paren_start_i = 0;
				paren_start_j = 0;
			}
			else {
				parent_domain = get_domain(parent_id);
				dx = parent_domain.dx / ratio;
				dy = parent_domain.dy / ratio;
				parent_name = get_domain_name(parent_id);
			}
			
			var domain = {
					'name': name,
					'id': id, //start from 1, 0 is invalid
					'parent': parent_id, // 0: no parent
					'parent_name': parent_name, // 0: no parent
					'width': width, // 90 grid wide
					'height': height, // 90 grid left
					'dx': dx, // grid width in meter
					'dy': dy, // grod height in meter
					'ratio': ratio, // ratio of dx & dy to parent's dx & dy
					'parent-start-i': paren_start_i, //domain bottom left position relative to parent
					'parent-start-j': paren_start_j
					}
			return domain;
		};
		
		$('#domain-modal').modal({backdrop: true, keyboard: true, show: false});
		
		$('#btn-add-domain').click(function(e){
			e.preventDefault();
			domain_modal_reset();
			$('#domain-modal').modal('show');
		});
		
		$('#ntf-parent-domain').change(function(){
			domain_modal_selective_display($('#ntf-parent-domain').val());			
		});
		
		/* domain modal cancel and ok button */
		$('#btn-domain-modal-cancel').click(function(e){
			e.preventDefault();
			$('#domain-modal').modal('hide');
		});

		$('#btn-domain-modal-ok').click(function(e){
			e.preventDefault();
			if(validate_domain_settings()){
				var domain = get_domain_settings();
				domain_replace_or_add(domain);
				$('#domain-modal').modal('hide');
				reset_domain_table();
			}
		});
		
		$('#btn-remove-domain').click(function(e){
			e.preventDefault();
			var list = $('#domain-list input[type]=checkbox:checked');
			var i = 0;
			for(i=0; i<list.length; i++){
				var id = parseInt( $(list[i]).attr('data-domain-id'));
				remove_domain(id);
			}
			reset_domain_table();
		});
		
	});
</script>