<form class="form-stacked">
	<div class="clearfix">
		<label for="ntf-text">Test Field</label>
		<div class="input"><input type="text" id="ntf-text" name="text" placeholder="Enter something"></div>
	</div>
	<div class="actions">
		<input type="button" id="btn-select" class="btn primary" value="Select">
	</div>
</form>

<script>
$(function(){
	$('#btn-select').click(function(e){
		e.preventDefault();
		var data = $('#ntf-text').val();
		$('#ntf-chem-selected-data', opener.document).val(data);
		$('#ntf-chem-data', opener.document).text(data);
		window.close();
	});
});
</script>