{% load url from future %}
{% load webdesign %}
<script>
$(document).ready(function(){
	var toolbox_pos = {};
	toolbox_pos.top = $('#toolbox').offset().top - 40;
	toolbox_pos.left = $('#toolbox').offset().left;
	
	$(window).scroll(function(){
		var scroll_pos = $(window).scrollTop();
		if (scroll_pos > toolbox_pos.top) {
			$('#toolbox').addClass('fixed');
		}
		else if (scroll_pos < toolbox_pos.top) {
			$('#toolbox').removeClass('fixed');
		}
	});

});
</script>
<div class="row">
<div class="span16">
	<div class="page-header">
		<h1>WRF/Chem Task Groups</h1>
	</div>
	
	<div id="toolbox" class="toolbox slim">
		<div class="row">
			<div class="span3"><a class="btn primary" href="{% url 'wrf_new_task_group' %}">New Task Group</a></div>
			<div class="span5 offset8"><label style="width: auto;"><input type="checkbox"> <span>Show Groups created by other users</span></label></div>
		</div>
	</div>
	
	<div class="row">
		<div class="span16">
			<ul class="task-list">
				<li>
					<div class="header">
						<h2><a href="{% url 'wrf_task_group_details' %}">{% lorem 7 w random %}</a></h2>
					</div>
					<div class="content">
						{% lorem 1 p random %}
						<table>
							<thead>
								<tr>
									<th>User</th>
									<th>Task</th>
									<th>Period</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#">Test User</a></td>
									<td>15</td>
									<td>{% now "jS F Y H:i" %} &mdash; {% now "jS F Y H:i" %}</td>
								</tr>
							</tbody>
						</table>
						<ul class="controls">
							<li><a class="btn" href="{% url 'wrf_task_group_details' %}">Task List</a></li>
							<li><a class="btn" href="#">Result List</a></li>
						</ul>
					</div>
					<div class="progress">
						<div class="counter success">100%</div>
						<div class="stage"></div>
						<div><span class="label success">finished</span></div>
					</div>
				</li>
				
				<li>
					<div class="header">
						<h2><a href="{% url 'wrf_task_group_details' %}">{% lorem 7 w random %}</a></h2>
					</div>
					<div class="content">
						{% lorem 1 p random %}
						<table>
							<thead>
								<tr>
									<th>User</th>
									<th>Task</th>
									<th>Period</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#">Test User</a></td>
									<td>15</td>
									<td>{% now "jS F Y H:i" %} &mdash; {% now "jS F Y H:i" %}</td>
								</tr>
							</tbody>
						</table>
						<ul class="controls">
							<li><a class="btn" href="{% url 'wrf_task_group_details' %}">Task List</a></li>
							<li><a class="btn danger" href="#">Stop</a></li>
						</ul>
					</div>
					<div class="progress">
						<div class="counter notice">30%</div>
						<div class="stage">3 out of 12</div>
						<div><span class="label notice">running</span></div>
						<div class="icon" data-spinner="spinner"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
</div>
</div>
