{% load url from future %}
{% load webdesign %}
<div class="row">
<div class="span16">
	<div class="page-header">
		<h1>WRF/Chem Tasks</h1>
	</div>
	
	<div id="toolbox" class="toolbox">
		<div class="row">
			<div class="span2">
                <a class="btn btn-primary" href="{% url 'wrf_new_task' %}">New Task</a>
			</div>
			<div class="span4"><label class="checkbox"><input type="checkbox"> <span>Show Tasks Created by Other Users</span></label></div>
			<div class="span6">
				<ul class="nav nav-pills" style="margin: 0;">
					<li class="active"><a href="#">All</a></li>
					<li><a href="#">Draft</a></li>
					<li><a href="#">Pending</a></li>
					<li><a href="#">Running</a></li>
					<li><a href="#">Finished</a></li>
					<li><a href="#">Error</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<ul class="task-list">
				<li>
					<div class="header">
						<h2><a href="#">{% lorem 7 w random %}</a></h2>
					</div>
					<div class="content">
						{% lorem 1 p random %}
						<table class="table table-striped table-bordered table-condensed">
							<thead>
								<tr>
									<th>User</th>
									<th>Domain</th>
									<th>Period</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#">Test User</a></td>
									<td>3</td>
									<td>{% now "jS F Y H:i" %} &mdash; {% now "jS F Y H:i" %}</td>
								</tr>
							</tbody>
						</table>
						<ul class="controls">
							<li><a class="btn btn-success" href="#">Results</a></li>
							<li><a class="btn btn-info" href="#">Run Again</a></li>
							<li><a class="btn" href="#">Details</a></li>
							<li><a class="btn" href="#">Edit</a></li>
							<li><a class="btn btn-danger" href="#">Delete</a></li>
						</ul>
					</div>
					<div class="task-progress">
						<div class="counter success">100%</div>
						<div class="stage"></div>
						<div><span class="label success">finished</span></div>
					</div>
				</li>
				
				
				<li>
					<div class="header">
						<h2><a href="#">{% lorem 7 w random %}</a></h2>
					</div>
					<div class="content">
						{% lorem 1 p random %}
						<table class="table table-striped table-bordered table-condensed">
							<thead>
								<tr>
									<th>User</th>
									<th>Domain</th>
									<th>Period</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#">Test User</a></td>
									<td>3</td>
									<td>{% now "jS F Y H:i" %} &mdash; {% now "jS F Y H:i" %}</td>
								</tr>
							</tbody>
						</table>
						<ul class="controls">
							<li><a class="btn btn-danger" href="#">Cancel</a></li>
							<li><a class="btn" href="#">Details</a></li>
						</ul>
					</div>
					<div class="task-progress">
						<div class="counter warning">0%</div>
						<div class="stage"></div>
						<div><span class="label warning">pending</span></div>
					</div>
				</li>
				
				<li>
					<div class="header">
						<h2><a href="#">{% lorem 7 w random %}</a></h2>
					</div>
					<div class="content">
						{% lorem 1 p random %}
						<table class="table table-striped table-bordered table-condensed">
							<thead>
								<tr>
									<th>User</th>
									<th>Domain</th>
									<th>Period</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#">Test User</a></td>
									<td>3</td>
									<td>{% now "jS F Y H:i" %} &mdash; {% now "jS F Y H:i" %}</td>
								</tr>
							</tbody>
						</table>
						<ul class="controls">
							<li><a class="btn btn-danger" href="#">Stop</a></li>
							<li><a class="btn" href="#">Details</a></li>
						</ul>
					</div>
					<div class="task-progress">
						<div class="counter notice">30%</div>
						<div class="stage">WPS/geogrid</div>
						<div><span class="label notice">running</span></div>
						<div class="icon" data-spinner="spinner"></div>
					</div>
				</li>
				
				<li>
					<div class="header">
						<h2><a href="#">{% lorem 7 w random %}</a></h2>
					</div>
					<div class="content">
						{% lorem 1 p random %}
						<table class="table table-striped table-bordered table-condensed">
							<thead>
								<tr>
									<th>User</th>
									<th>Domain</th>
									<th>Period</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#">Test User</a></td>
									<td>3</td>
									<td>{% now "jS F Y H:i" %} &mdash; {% now "jS F Y H:i" %}</td>
								</tr>
							</tbody>
						</table>
						<ul class="controls">
							<li><a class="btn btn-info" href="#">Retry last stage</a></li>
							<li><a class="btn btn-info" href="#">Run</a></li>
							<li><a class="btn" href="#">Details</a></li>
							<li><a class="btn" href="#">Edit</a></li>
							<li><a class="btn btn-danger" href="#">Delete</a></li>
						</ul>
					</div>
					<div class="task-progress">
						<div class="counter important">50%</div>
						<div class="stage">WRF/real</div>
						<div><span class="label important">error</span></div>
					</div>
				</li>
				
				<li>
					<div class="header">
						<h2><a href="#">{% lorem 7 w random %}</a></h2>
					</div>
					<div class="content">
						{% lorem 1 p random %}
						<table class="table table-striped table-bordered table-condensed">
							<thead>
								<tr>
									<th>User</th>
									<th>Domain</th>
									<th>Period</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#">Test User</a></td>
									<td>3</td>
									<td>{% now "jS F Y H:i" %} &mdash; {% now "jS F Y H:i" %}</td>
								</tr>
							</tbody>
						</table>
						<ul class="controls">
							<li><a class="btn btn-info" href="#">Run</a></li>
							<li><a class="btn" href="#">Details</a></li>
							<li><a class="btn" href="#">Edit</a></li>
							<li><a class="btn btn-danger" href="#">Delete</a></li>
						</ul>
					</div>
					<div class="task-progress">
						<div class="counter">0%</div>
						<div class="stage"></div>
						<div><span class="label">draft</span></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
</div>
</div>
