{% load url from future %}

<script>
$(document).ready(function () {
    var task_list = [];
    task_command_url = "{% url 'rest-wrf-task-control-list' %}";
    task_list_url = "{% url 'rest-wrf-task-list' %}";
    task_list_all_url = "{% url 'rest-wrf-task-list-all' %}";
    static_url = "{{ STATIC_URL }}";
    
    $.ajax({url: task_list_url,
            dataType: 'json',
            type: 'GET',
            success: function(data){
                $('.task-list').empty();
                task_list = data;
                render_task_list('.task-list', data);
				setup_task_list_auto_update(data, 5000);
            },
            error: function(jqXHR, textStatus, errorThrown){
                $(".task-list").empty();
				$(".task-list").append('<li><div class="alert alert-error"><p>' + textStatus +"</p><p>" + errorThrown +"</p></div></li>");
            }
    });
	
	$('#display-all-user').click(function(e){
		reset_task_list('.task-list');
		
		if($(this).is (':checked')){
			$.ajax({url: task_list_all_url,
					dataType: 'json',
					type: 'GET',
					success: function(data){
						$('.task-list').empty();
						task_list = data;
						render_task_list('.task-list', data);
						setup_task_list_auto_update(data, 5000);
					},
					error: function(jqXHR, textStatus, errorThrown){
						$(".task-list").empty();
						$(".task-list").append('<li><div class="alert alert-error"><p>' + textStatus +"</p><p>" + errorThrown +"</p></div></li>");
					}
			});
		}
		else {
			$.ajax({url: task_list_url,
					dataType: 'json',
					type: 'GET',
					success: function(data){
						$('.task-list').empty();
						task_list = data;
						render_task_list('.task-list', data);
						setup_task_list_auto_update(data, 5000);
					},
					error: function(jqXHR, textStatus, errorThrown){
						$(".task-list").empty();
						$(".task-list").append('<li><div class="alert alert-error"><p>' + textStatus +"</p><p>" + errorThrown +"</p></div></li>");
					}
			});
		}
	});
	
	$('#filter-all').click(function(e){
		e.preventDefault();
		filter_display(task_list, 'all');
	});
	
	$('#filter-draft').click(function(e){
		e.preventDefault();
		filter_display(task_list, 'draft');
	});
	
	$('#filter-pending').click(function(e){
		e.preventDefault();
		filter_display(task_list, 'pending');
	});
	
	$('#filter-running').click(function(e){
		e.preventDefault();
		filter_display(task_list, 'running');
	});
	
	$('#filter-finished').click(function(e){
		e.preventDefault();
		filter_display(task_list, 'finished');
	});
	
	$('#filter-canceled').click(function(e){
		e.preventDefault();
		filter_display(task_list, 'canceled');
	});
	
	$('#filter-error').click(function(e){
		e.preventDefault();
		filter_display(task_list, 'error');
	});
	
});
</script>

<div class="row">
<div class="span16">
	<div class="page-header">
		<h1>WRF/Chem Tasks</h1>
	</div>
	
	<div id="toolbox" class="toolbox">
		<div class="row">
			<div class="span2">
                <a class="btn btn-primary" href="{% url 'wrf-new-task' %}"><i class="icon-plus icon-white"></i> New Task</a>
			</div>
			<div class="span3"><label class="checkbox"><input id="display-all-user" type="checkbox"> <span>Show Tasks Created by Other Users</span></label></div>
			<div class="span7">
				<ul class="nav nav-pills" style="margin: 0;">
					<li class="active"><a id="filter-all" href="#">All</a></li>
					<li><a id="filter-draft" href="#">Draft</a></li>
					<li><a id="filter-pending" href="#">Pending</a></li>
					<li><a id="filter-running" href="#">Running</a></li>
					<li><a id="filter-finished" href="#">Finished</a></li>
					<li><a id="filter-canceled" href="#">Canceled</a></li>
					<li><a id="filter-error" href="#">Error</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="span12">
			<ul class="task-list">
                <li>
					<div class="alert alert-info">
						<p><img src="{{ STATIC_URL }}aqm_web/img/spinner.gif" alt="Loading..."></p>
					</div>
                </li>
			</ul>
		</div>
	</div>
	
</div>
</div>
