<script>
{% load url from future %}

$(document).ready(function () {
	var max_memory = 8 * 1024 * 1024 * 1024;
	var timer = setInterval(function(){
		
		$.ajax({url: "{% url 'server-utilization' 1 %}",
				dataType: 'json',
				success: function(data){
					var cpu = data['cpu'];
					var cpu_label = cpu + '%';
					simplebar.set('#cpu-usage-server-1', cpu, cpu_label);
					var mem_used = data['memory_used'];
					var mem_total = data['memory_total'];
					var percentage = data['memory_percent'];
					var label = Math.round(mem_used / (1024 * 1024)) + 'MB / ' + Math.round(mem_total / (1024 * 1024)) + 'MB';
					simplebar.set('#memory-usage-server-1', percentage, label);
					
					$('#server_1 > .header > .label').text('healthy');
					$('#server_1 > .header > .label').removeClass('label-important').addClass('label-success');
					},
				error: function(jqXHR, textStatus, errorThrown){
					console.log(errorThrown);
					if(errorThrown==='SERVICE UNAVAILABLE'){
						$('#server_1 > .header > .label').text('service disruption');
						$('#server_1 > .header > .label').removeClass('label-success').addClass('label-important');
						simplebar.set('#cpu-usage-server-1', 0, '--');
						simplebar.set('#memory-usage-server-1', 0, '--');
					}
				}
		});
		
		
	}, 2500);
});
</script>

<div class="row"> 
	<div class="span12">
		<div class="well">
			<div>
				<h1>Server Status</h1>
			</div>

			<div class="row">
				<div class="span6">
					<div id="server_1" class="server-status">
						<div class="header">
							<h2>Server 1</h2>
							<span class="label label-success">healthy</span>
						</div>
						<div class="content">
							<table>
								<tbody>
									<tr>
										<th>Current CPU Usage</th>
										<td>
											<div id="cpu-usage-server-1" class="color-green medium" data-simplebar="simplebar" data-simplebar-percentage="0" 
											data-simplebar-text="loading..."></div>
										</td>
									</tr>
									<tr>
										<th>Current Memory Usage</th>
										<td>
											<div id="memory-usage-server-1" class="color-blue medium" data-simplebar="simplebar" data-simplebar-percentage="0" 
											data-simplebar-text="loading..."></div>
										</td>
									</tr>
									<tr>
										<th>Current Disk Usage</th>
										<td>
											<div class="bar-chart color-red medium">
												<div class="inner-bar">
													<div class="bar" style="width: 83%"></div>
												</div>
												<div class="inner-text">1323 GB / 2000 GB</div>
											</div>
										</td>
									</tr>
									<tr>
										<th>Slot Utilization</th>
										<td>
											<div class="bar-chart medium">
												<div class="inner-bar">
													<div class="bar" style="width: 100%"></div>
												</div>
												<div class="inner-text">4 of 4</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
				</div>
				<div class="span5">
					<table class="table table-striped table-bordered table-condensed" style="background: white;">
						<tbody>
							<tr>
								<th>Currently Running Task</th>
								<td>8</td>
							</tr>
							<tr>
								<th>Pending Tasks</th>
								<td>13</td>
							</tr>
							<tr>
								<th>Current Longest Task</th>
								<td>24 hour 55 minutes</td>
							</tr>
							<tr>
								<th>Biggest Task</th>
								<td>4.2 Gb</td>
							</tr>
							<tr>
								<th>Task Slot Capacity</th>
								<td>8</td>
							</tr>
							<tr>
								<th>Modelling Server Available</th>
								<td>2</td>
							</tr>
							<tr>
								<th>Current Longest Uptime</th>
								<td>57 days 23 hours 14 minutes</td>
							</tr>
							<tr>
								<th>Current Shortest Uptime</th>
								<td>2 days 14 hours 43 minutes</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div> 
</div>

