<script>
{% load url from future %}

$(document).ready(function () {
    var server_list = [];
    
    $.ajax({url: "{% url 'rest-server-detail-list' %}",
            dataType: 'json',
            type: 'GET',
            success: function(data){
                server_list = data;
				setup_server_list_auto_update(data, 3000);
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log(errorThrown);
            }
    });
    
});
</script>

<div class="row"> 
	<div class="span12">
		<div class="well">
			<div>
				<h1>Server Status</h1>
			</div>

			<div class="row">
				<div class="span6">
                    {% for server in servers %}
                    <div id="server_{{ server.pk }}" class="server-status">
						<div class="header">
							<h2>{{ server.name }} <small>{{ server.address }}:{{ server.port }}</small></h2>
							<span class="label label-info">ID: {{ server.id }}</span> <span class="label status">loading...</span>
						</div>
						<div class="content">
							<table>
								<tbody>
									<tr>
										<th>Current CPU Usage</th>
										<td>
											<div id="cpu-usage-server-{{ server.pk }}" class="color-green medium" data-simplebar="simplebar" data-simplebar-percentage="0" 
											data-simplebar-text="loading..."></div>
										</td>
									</tr>
									<tr>
										<th>Current Memory Usage</th>
										<td>
											<div id="memory-usage-server-{{ server.pk }}" class="color-blue medium" data-simplebar="simplebar" data-simplebar-percentage="0" 
											data-simplebar-text="loading..."></div>
										</td>
									</tr>
									<tr>
										<th>Current Disk Usage</th>
										<td>
											<div id="disk-usage-server-{{ server.pk }}" class="color-red medium" data-simplebar="simplebar" data-simplebar-percentage="0"
                                            data-simplebar-text="loading..."></div>
										</td>
									</tr>
									<tr>
										<th>Slot Utilization</th>
										<td>
                                            <div id="slot-usage-server-{{ server.pk }}" class="medium" data-simplebar="simplebar" data-simplebar-percentage="0"
                                            data-simplebar-text="loading..."></div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
                    {% endfor %}
                    
				</div>
				<div class="span5">
					<table class="table table-striped table-bordered table-condensed" style="background: white;">
						<tbody>
							<tr>
								<th>Currently Running Task</th>
								<td>--</td>
							</tr>
							<tr>
								<th>Pending Tasks</th>
								<td>--</td>
							</tr>
							<tr>
								<th>Current Longest Task</th>
								<td>--</td>
							</tr>
							<tr>
								<th>Biggest Task</th>
								<td>--</td>
							</tr>
							<tr>
								<th>Task Slot Capacity</th>
								<td>--</td>
							</tr>
							<tr>
								<th>Modelling Server Available</th>
								<td>--</td>
							</tr>
							<tr>
								<th>Current Longest Uptime</th>
								<td>--</td>
							</tr>
							<tr>
								<th>Current Shortest Uptime</th>
								<td>--</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div> 
</div>

