{% extends "aqm_web/base.html" %}
{% load url from future %}
{% load request_tags %}

{% block metadata %}
<title>Login | Air Quality Models Web Interface</title>
{% endblock %}

{% block all-elements %}
<div class="container">
	<div class="row">
		<div class="span6 offset3 columns">
		
		{% if form.errors %}
		<div class="alert alerterror">
			<p>Your username and password didn't match. Please try again.</p>
		</div>
		{% endif %}
		
		<form class="form-horizontal well" method="post" action="{% url 'django.contrib.auth.views.login' %}">
			{% csrf_token %}
			<fieldset>
				<legend>Login</legend>
				<div class="control-group {% if form.username.errors %}error{% endif %}">
                    <label class="control-label" for="id_username">{{ form.username.label }}</label>
					<div class="controls">
                        {{ form.username }}
                        {% if form.username.errors %}
                            <span class="help-inline">{{ form.username.errors }}</span>
                        {% endif %}
                    </div>
				</div>
				<div class="control-group {% if form.password.errors %}error{% endif %}">
                    <label class="control-label" for="id_password">{{ form.password.label }}</label>
					<div class="controls">
                        {{ form.password }}
                        {% if form.password.errors %}
                            <span class="help-inline">{{ form.password.errors }}</span>
                        {% endif %}
                    </div>
				</div>
				<div class="control-group">
                    <div class="controls">
                        {% query_string request "next" "html_form" %}
                        <input type="submit" class="btn btn-primary btn-large" value="Login">
                    </div>
				</div>
			</fieldset>
			
		</form>
		
		</div>
	</div>
	</div>
{% endblock %}