{% extends "aqm_web/base-with-menu.html" %}
{% load url from future %}
{% load request_tags %}
{% load add_class %}

{% block metadata %} <title>Password change | Air Quality Models Web Interface</title>
{% endblock %}

{% block all-elements %}
<div class="container">
    <div class="row">
        <div class="span6 offset3 columns">
            <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
            
            <form action="" class="form-horizontal well" method="post">
                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-error">
                    <p>There are some errors in your password information. Please try again.</p>
                </div>
                {% endif %}
                
                {% if form.non_field_errors %}
                <div class="alert alert-error">
                    <p>{{ form.non_field_errors }}</p>
                </div>
                {% endif %}
            
                <fieldset>
                    <div class="control-group {% if form.old_password.errors %}error{% endif %}">
                        <label class="control-label" for="id_old_password">Old password:</label>
                        <div class="controls">
                            {{ form.old_password|add_class:"span3" }}
                            {% if form.old_password.errors %}
                                <span class="help-inline">{{ form.old_password.errors }}</span>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="control-group {% if form.new_password1.errors %}error{% endif %}">
                        <label class="control-label" for="id_new_password1">New password:</label>
                        <div class="controls">
                            {{ form.new_password1|add_class:"span3" }}
                            {% if form.new_password1.errors %}
                                <span class="help-inline">{{ form.new_password1.errors }}</span>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="control-group {% if form.new_password2.errors %}error{% endif %}">
                        <label class="control-label" for="id_new_password2">Confirm password:</label>
                        <div class="controls">
                            {{ form.new_password2|add_class:"span3" }}
                            {% if form.new_password2.errors %}
                                <span class="help-inline">{{ form.new_password2.errors }}</span>
                            {% endif %}
                        </div>
                    </div>
                    
                </fieldset>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Change my password" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}