{% extends "aqm_web/base-with-menu.html" %}
{% load url from future %}
{% load request_tags %}

{% block metadata %}
<title>Password change | Air Quality Models Web Interface</title>
{% endblock %}

{% block all-elements %}
<div class="container">
	<div class="row">
		<div class="span8 offset4 columns">
		<p>Please enter your old password, for securitys sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
        <form action="" class="well" method="post">{% csrf_token %}
            <fieldset>
                <div class="clearfix {% if form.old_password.errors %} error {% endif %}">
                    <label for="id_old_password">Old password:</label>
                    <div class="input">
                        {{ form.old_password }}
                        <span class="help-block">{{ form.old_password.errors }}</span>
                    </div>
                </div>
                <div class="clearfix {% if form.new_password1.errors %} error {% endif %}">
                    <label for="id_new_password1">New password:</label>
                    <div class="input">
                        {{ form.new_password1 }}
                        <span class="help-block">{{ form.new_password1.errors }}</span>
                    </div>
                </div>
                <div class="clearfix {% if form.new_password2.errors %} error {% endif %}">
                    <label for="id_new_password2">Confirm password:</label>
                    <div class="input">
                        {{ form.new_password2 }}
                        <span class="help-block">{{ form.new_password2.errors }}</span>
                    </div>
                </div>
            </fieldset>
            <div class="actions">
                <input type="submit" value="Change my password" class="btn primary" />
            </div>
        </form>
		</div>
	</div>
	</div>
{% endblock %}