{% extends "aqm_web/base-with-menu.html" %}
{% load url from future %}

{% block metadata %}
	<title>WRF/Chem Base Setting | Air Quality Models Web Interface</title>
{% endblock %}

{% block all-elements %}

<div class="row">
<div class="span16">
	<div class="page-header">
		<h1>WRF/Chem Base Setting</h1>
	</div>
	
    <div id="toolbox" class="toolbox slim">
        <div class="row">
            <div class="span3"><a class="btn btn-primary" href="{% url 'wrf-new-chem-data' %}"><i class="icon-plus icon-white"></i> New Emission Data</a></div>
            <div class="span4 offset6"><label class="checkbox"><input id="display-all-user" type="checkbox"> <span>Show emission data created by other users</span></label></div>
        </div>
    </div>
    
	<div class="row">
		<div class="span12">
			<ul class="chemdata-list">
                <li>
					<div class="alert alert-info">
						<p><img src="{{ STATIC_URL }}aqm_web/img/spinner.gif" alt="Loading..."></p>
					</div>
                </li>
			</ul>
		</div>
	</div>
	
</div>
</div>

{% endblock %}