{% extends "aqm_web/base-with-menu.html" %}
{% load url from future %}
{% load add_class %}

{% block metadata %}
    <title>New WRF Task | Air Quality Models Web Interface</title>
    <script src="{{ STATIC_URL }}aqm_web/js/new-task.js"></script>
{% endblock %}

{% block all-elements %}

<script>
    $(function(){
        aqm.map_mercator_base_url = "{% url 'map-preview-mercator' %}";
    });
</script>

<div class="row">
<div class="span12">
	<div class="page-header">
		<h1>New WRF/Chem Task</h1>
	</div>

	<form action="{% url "wrf-new-task" %}" method="post" id="wrf-new-task-form" class="form-horizontal">
        {% csrf_token %}
        
        {% if form.errors %}
        <div class="alert alert-error">
            <p>There are some errors in your submitted data. Please try again.</p>
        </div>
        {% endif %}
        
        {% if form.non_field_errors %}
        <div class="alert alert-error">
            <p>{{ form.non_field_errors }}</p>
        </div>
        {% endif %}
        
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="id_task_name">{{ form.task_name.label }}</label>
				<div class="controls">
                    {{ form.task_name|add_class:"span9"}}
                </div>
			</div>
            
			<div class="control-group">
				<label class="control-label" for="id_task_description">{{ form.task_description.label }}</label>
				<div class="controls">
                    {{ form.task_description|add_class:"span9"}}
                </div>
			</div>
            
			<div class="control-group">
				<label class="control-label" for="ntf-start-date">Period</label>
				<div class="controls">
					<div class="form-inline">
						<div class="input-prepend"><span class="add-on">start date</span><input type="text" id="ntf-start-date" placeholder="enter date" class="input-small"></div>
						<div class="input-prepend"><span class="add-on">start time</span><input type="text" id="ntf-start-time" placeholder="enter time" class="input-small"></div>
						to
						<div class="input-prepend"><span class="add-on">end date</span><input type="text" id="ntf-end-date" placeholder="enter date" class="input-small"></div>
						<div class="input-prepend"><span class="add-on">end time</span><input type="text" id="ntf-end-time" placeholder="enter time" class="input-small"></div>
					</div>
				</div>
			</div>
		</fieldset>
		
		<fieldset>
			<legend>Coordinate Settings</legend>
			<div class="control-group" id="ntf-ref-container">
				<label class="control-label" for="ntf-ref-lat">Reference Coordinate</label>
				<div class="controls">
					<div class="form-inline">
						<div id="ntf-ref-lat-cont" class="input-prepend"><span class="add-on">latitude</span><input type="text" id="ntf-ref-lat" name="ref-lat" placeholder="" class="span2"></div>
						<div id="ntf-ref-lon-cont" class="input-prepend"><span class="add-on">longitude</span><input type="text" id="ntf-ref-lon" name="ref-lon" 	placeholder="" class="span2"></div>
                        <a id="btn-map-preview" href="#preview" class="btn btn-info"><i class="icon-map-marker icon-white"></i> Preview</a>
					</div>
				</div>
			</div>
            
			<div class="control-group">
				<label class="control-label" for="ntf-proj">Map Projection</label>
				<div class="controls">
					<select id="ntf-proj" name="projection-type">
						<option value="mercator">Mercator</option>
						<option value="lambert">Lambert Conformal</option>
						<option value="polar">Polar Stereographic</option>
						<option value="lat-lon">Regular Latitude-Longitude / Cylindrical Equidistant</option>
					</select>
				</div>
			</div>
            
			<div class="control-group" id="ntf-true-lat-container">
				<div class="controls">
					<div class="form-inline">
						<div id="ntf-true-lat1-cont" class="input-prepend"><span class="add-on">true scale latitude 1</span><input type="text" id="ntf-true-lat1" name="true-lat1" placeholder="" class="span2"></div>
						<div id="ntf-true-lat2-cont" class="input-prepend"><span class="add-on">true scale latitude 2</span><input type="text" id="ntf-true-lat2" name="true-lat2" placeholder="" class="span2"></div>
						<div id="ntf-stand-lon-cont" class="input-prepend"><span class="add-on">stand lon</span><input type="text" id="ntf-stand-lon" name="stand-lon" placeholder="" class="span2"></div>
						<div id="ntf-pole-lat-cont" class="input-prepend"><span class="add-on">pole lat</span><input type="text" id="ntf-pole-lat" name="pole-lat" placeholder="" class="span2"></div>
						<div id="ntf-pole-lon-cont" class="input-prepend"><span class="add-on">pole lon</span><input type="text" id="ntf-pole-lon" name="pole-lon" placeholder="" class="span2"></div>
					</div>
				</div>
			</div>
            
		</fieldset>
		
		<fieldset>
			<legend>Domain Settings</legend>
			<div class="control-group">
				<div class="controls">
					<table id="domain-list" class="table table-striped table-bordered table-condensed">
						<tbody>
							<tr>
								<th></th>
								<th>Domain</th>
								<th>Parent</th>
								<th>width</th>
								<th>height</th>
								<th>dx</th>
								<th>dy</th>
							</tr>
						</tbody>
					</table>
				
					<input type="button" id="btn-add-domain" class="btn btn-info" value="Add Domain" >
					<input type="button" id="btn-remove-domain" class="btn btn-danger" value="Remove Selected Domain" >
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="ntf-time-step">Time Step</label>
				<div class="controls">
                    <input type="text" id="ntf-time-step" name="title" placeholder="enter model time step">
                </div>
			</div>
		</fieldset>
		
		<fieldset>
            <legend>Direct Namelist Settings</legend>
            
			<div class="control-group">
				<label class="control-label" for="id_task_namelist_wps">{{ form.task_namelist_wps.label }}</label>
				<div class="controls">
                    {{ form.task_namelist_wps|add_class:"span9"}}
                </div>
			</div>
            
			<div class="control-group">
				<label class="control-label" for="id_task_namelist_wrf">{{ form.task_namelist_wrf.label }}</label>
				<div class="controls">
                    {{ form.task_namelist_wrf|add_class:"span9"}}
                </div>
			</div>
            
			<div class="control-group">
				<label class="control-label" for="id_task_namelist_arwpost">{{ form.task_namelist_arwpost.label }}</label>
				<div class="controls">
                    {{ form.task_namelist_arwpost|add_class:"span9"}}
                </div>
			</div>
            
        </fieldset>
            
		<fieldset>
			<legend>Chemistry Options</legend>
			
			<div class="control-group">
				<div class="controls">
					<label>
                    	<input type="checkbox" name="optionsCheckboxes" value="option1" checked="checked">
						<span>Enable WRF/Chem</span>
					</label>
				</div>
			</div>
			
			<div class="control-group">
				<label for="ntf-chem-select-data">Data Source</label>
				<div class="controls">
					<div class="form-inline">
						<input type="hidden" id="ntf-chem-selected-data" value="">
						<input type="button" class="btn" id="ntf-chem-select-data" value="Select Data">
						<span id="ntf-chem-data"></span>
					</div>
				</div>
			</div>
		</fieldset>
		
		<div class="form-actions">
    		<input type="submit" class="btn btn-primary btn-large" value="Save">
		</div>
	</form>
</div>
</div>


<div id="domain-modal" class="modal hide fade in domain-modal">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal">&times;</a>
		<h3>Title</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" id="wrf-new-task-form">
            <fieldset>
                <div class="control-group" id="ntf-dom-name-container">
                    <label class="control-label" for="ntf-dom-name">Domain Name</label>
                    <div class="controls">
                        <div class="form-inline">
                            <input type="text" id="ntf-dom-name" name="dom-name" placeholder="Enter domain name" class="span5" >
                            <input type="hidden" id="ntf-dom-id" name="dom-id" >
                            Parent: 
                            <select id="ntf-parent-domain" name="parent-domain">
                                <option value="none">-- None --</option>
                                <option value="1">Domain 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="control-group" id="ntf-dom-width-container">
                    <label class="control-label" for="ntf-dom-width">Dimension</label>
                    <div class="controls">
                        <div class="form-inline">
                            <div id="ntf-dom-width-cont" class="input-prepend"><span class="add-on">width</span><input type="text" id="ntf-dom-width" name="dom-width" class="span3" placeholder="enter value in grids"></div>
                            <div id="ntf-dom-height-cont" class="input-prepend"><span class="add-on">height</span><input type="text" id="ntf-dom-height" name="dom-height" class="span3" placeholder="enter value in grids"></div>
                            <div id="ntf-dom-dx-cont" class="input-prepend"><span class="add-on">dx</span><input type="text" id="ntf-dom-dx" name="dom-dx" class="span2" placeholder="enter value in meter"></div>
                            <div id="ntf-dom-dy-cont" class="input-prepend"><span class="add-on">dy</span><input type="text" id="ntf-dom-dy" name="dom-dy" class="span2" placeholder="enter value in meter"></div>
                            <div id="ntf-ratio-cont" class="input-prepend"><span class="add-on">parent grid ratio</span><input type="text" id="ntf-ratio" name="dom-ratio" class="span3" placeholder=""></div>
                        </div>
                    </div>
                </div>
                
                <div class="control-group" id="ntf-dom-parent-start-container">
                    <label class="control-label" for="ntf-dom-parent-start-i">Position</label>
                    <div class="controls">
                        <div class="form-inline">
                            <div id="ntf-dom-parent-start-i-cont" class="input-prepend"><span class="add-on">i parent start</span><input type="text" id="ntf-dom-parent-start-i" name="dom-i-parent-start" class="span2" placeholder=""></div>
                            <div id="ntf-dom-parent-start-j-cont" class="input-prepend"><span class="add-on">j parent start</span><input type="text" id="ntf-dom-parent-start-j" name="dom-j-parent-start" class="span2" placeholder=""></div>
                            
                        </div>
                    </div>
                </div>
            </fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<input type="button" id="btn-domain-modal-ok" class="btn btn-primary" value="OK">
		<input type="button" id="btn-domain-modal-cancel" class="btn" value="Cancel">
	</div>
</div>

<div id="area-modal" class="modal hide fade in">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal">&times;</a>
		<h3>Map Projection Preview</h3>
	</div>
	<div class="modal-body">
		<div style="position: relative; width: 530px; height: 397px;">
			<div id="map-loading-spinner" data-spinner="noauto" style="position: absolute; top: 180px; left: 210px; z-index: 3;"></div>
			<img class="preview-image" src="" width="530" height="397" style="position: absolute; top: 0; left: 0; z-index: 4;">
		</div>
	</div>
	<div class="modal-footer">
		<input type="button" id="btn-area-modal-close" class="btn" value="Close">
	</div>
</div>

{% endblock %}